@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* Modern CSS Reset - https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* End of CSS Reset */

:root {
  /* Colors */

  /* Font Sizes */
  --font-size-1600: 4rem;
  --font-size-1400: 3.5rem;
  --font-size-1200: 3rem;
  --font-size-1000: 2.5rem;
  --font-size-800: 2rem;
  --font-size-700: 1.75rem;
  --font-size-600: 1.5rem;
  --font-size-500: 1.25rem;
  --font-size-normal: 1rem;
  --font-size-350: 0.875rem;
  --font-size-300: 0.75rem;

  /* Font Weights */
  --font-weight-900: 900;
  --font-weight-700: 700;
  --font-weight-normal: 400;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: #8ac5dc;
}

input {
  width: 100%;
  margin-right: 0.5em;
  border: 1px solid #ccc;
  padding: 0 0.5em;
  border-radius: 5px;
}

input:focus {
  outline: 2px solid #d6df58;
  border: 0;
}

button {
  border: 0;
  background: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  font-weight: 700;
  margin-top: 1.5em;
}

/* ul li:nth-child(even) {
  color: rgba(58, 49, 42, 0.75);
} */

ul li:hover {
  cursor: pointer;
}

/* Custon classes */

.todo-card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  max-width: 25em;
  padding: 2em;
  margin: 1em;
  background-color: #fae6ca;
  color: #3a312a;
  border: 1px solid #3a312a;
  border-radius: 0.5em;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.todo-card h1 {
  font-size: 2.5rem;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
}

.todo-card h2 {
  color: #db6672;
}

.todo-card img {
  margin: 2em 0;
  max-width: 30%;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.fa-plus,
.fa-eraser {
  display: inline-block;
  padding: 0.4em;
  color: white;
  border-radius: 5px;
}

.fa-plus {
  background-color: #8ac5dc;
}

.fa-eraser {
  background-color: #db6672;
}

.todo-card__add-todo {
  display: flex;
}

.add-todo:hover,
.remove-todo:hover {
  cursor: pointer;
  opacity: 0.9;
}

.todo-card__todos {
  display: flex;
  flex-direction: column;
  place-self: start;
  /* padding: 1em; */
}
